export(tdmm)
export(tdmm.parallel)

export(check.tdmm.data.structure)
export(check.tdmm.subject.balance)
export(check.tdmm.family.data)
export(check.gaussian.response)
export(check.bernoulli.balance)
export(check.poisson.counts)

export(data.gen.tdmm.gauss)
export(data.gen.tdmm.bern)
export(data.gen.tdmm.pois)

S3method(summary,tdmm)
export(summary.tdmm)

export(plot.tdmm)
export(plot.trace.tdmm)
export(recover.tdmm.betas.ci)
export(make.tdmm.plot.grid)
